<h1>MEMO</h1>

<div class="form-area">
  <%= form_with(model: @post, local: true) do |form| %>
    <%= form.text_area :text, rows: "10", class: "text" %>
    <%= form.submit "保存", class: "submit" %>
  <% end %>
</div>

<div class="search-area">
  <h2>検索</h2>
  <%= form_with(scope: :search, url: posts_path, method: :get, local: true) do |form| %>
    <%= form.text_area :text, class: "text" %>
    <%= form.submit "検索", class: "submit" %>
  <% end %>
</div>

<div class="show-area">
  <h2>MEMO履歴</div>
  <div class="post-area">
    <% @posts.each do |post| %>
      <div class="post">
        <div class="post-created">
          <%= post.created_at %>
        </div>
        <div class="post-text">
          <%= post.text %>
        </div>
      </div>
    <% end %>
  </div>
</div>